@charset "UTF-8";
/*Solo para el menu principal de la pagina*/
#menu{
	list-style-type:none;
	margin: 20px;
	padding: 0;
	overflow: hidden;
	background-color:rgb(51,51,51);
}

.opcmenu{ float:left;}

.descmenu{
	display:block;
	color:rgb(250,250,250);
	text-align:center;
	padding: 16px;
	text-decoration:none;
}

.descmenu:hover{
	background-color:rgb(17,17,17);
}